body {
    
  background-color: bisque;
  text-align: center;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
h1 {
  color:black;
}
p {
  color: black;

}

div{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header{
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;

}